@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.AppHeader{
  height: 50px;
  background-color: #f1f2f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 19px;
  border-bottom: 1px solid rgba(0,0,0, 0.15);
}

.logoDemeter{
  background-color: transparent;
  border: transparent;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #008959;
}

.AppFooter{
  height: 50px;
  position: fixed;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background-color: #444444;
  color: white;
}

.Content{
  
}

.SideBar{
  width: 300px;
  font-family: 'Rubik', sans-serif;
  border: 0px;
}

.dash--menu{
  width: 300px;
  border: none;
}

.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}


.planes--plan{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  align-items: center;
}

.step--cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.nutri{
  max-width: 100%;;
  max-height: 100%;
}

