@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.AppHeader{
  height: 50px;
  background-color: #f1f2f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 19px;
  border-bottom: 1px solid rgba(0,0,0, 0.15);
}

.logoDemeter{
  background-color: transparent;
  border: transparent;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #008959;
}

.AppFooter{
  height: 50px;
  display: inline-flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background-color: #008959;
  color: white;
}

.Content{
  
}

.SideBar{
  width: 300px;
  font-family: 'Rubik', sans-serif;
  border: 0px;
}

.dash--menu{
  width: 300px;
  border: none;
}

.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.my-theme{
  --primary-color: #008959;
}

.login-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
}

.login-background{
  background-image: url("./img/happy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-data{
  padding: 0 20px 0 20px;
  display: block;
  background-color: #008959;
}

.login-data a{
  color: white;
}