@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.AppHeader{
  height: 50px;
  background-color: #f1f2f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 19px;
  border-bottom: 1px solid rgba(0,0,0, 0.15);
}

.logoDemeter{
  background-color: transparent;
  border: transparent;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #008959;
  display: flex;
  align-items: center;
}

.AppFooter{
  height: 50px;
  position: fixed;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  background-color: #444444;
  color: white;
}

.Content{
  
}

.SideBar{
  width: 300px;
  font-family: 'Rubik', sans-serif;
  border: 0px;
}

.dash--menu{
  width: 300px;
  border: none;
}

.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}


.planes--plan{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  align-items: center;
}

.nutri--container{
  border: 2px solid black;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.nutri{
  max-width: 100%;
  max-height: 100%;
}

.modal-content{
  background-color: transparent;
}

.ant-tour-cover{
  display: flex;
  padding: 0;
  align-content: center;
  align-items: center;
}

/*Estilo green card*/
.streak {
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

h2 {
  margin-top: 0;
}

button {
  background-color: white;
  color: green;
  border: 1px solid green;
  border-radius: 5px;
  font-size: 1em;
  padding: 10px;
  cursor: pointer;
}

.columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.column {
  border-radius: 5px;
  padding: 10px;
}
